{% extends "base.html.twig" %}

{# block body defini dans parent (base.html.twig) #}
{% block body %}
    <h1 class="text-center">{{ category.name | title }}</h1>

    <div class="row">
        {% for subCategorie in subCategories %}
           <div class="col-sm-4 text-center p-3 bg-dark"> 
              <a class="text-light h3" 
              href="{{ 
                url('category.subCategory',{
                categorySlug : category.slug, 
                subCategorySlug : subCategorie.slug
              }) 
              }}"> {{ subCategorie.name | title }} </a>   
           </div> 
        {% endfor %}

    </div>
{% endblock %}