{% extends "base.html.twig" %}

{# block body defini dans parent (base.html.twig) #}
{% block body %}
    <h1 class="text-center">{{ subCategory.name | title}}</h1>


    {% for gif in gifs %}
    <div class="clo-sm-4">
        <a href="{{ url('gif.index', { gifSlug: gif.slug } ) }}">
            {# asset : permet de cibler le dossier public #}
            <img class="img-fluid" src="{{ asset("images/" ~ gif.source) }}" alt="un gif">
        </a>
    </div>
    {% endfor %}

{% endblock %}
