{# 
    Structuration des templates:
        a la racine du dossier "templates", il y a les templates parents 
        dans les dossiers, il y a les templates enfants

    Les templates enfants hérites des templates parents

    extends : héritage entre un template enfant et un template parant
    bloks : rempli les blocks définis dans le template parent
 #}


{% extends "base.html.twig" %}

{# block body defini dans parent (base.html.twig) #}
{% block body %}
    <h1 class="text-center">Accueil</h1>
{% endblock %}