{% extends "base.html.twig" %}

{# block body defini dans parent (base.html.twig) #}
{% block body %}

<div class="row mt-4 mb-4">
    <aside>
        
                <a  class="text-white"
                    href="{{ url('category.subCategory' , 
                    { categorySlug : gif.category.parent.slug, subCategorySlug : gif.category.slug}) }}">
                    {{ gif.category.name | title }}
                </a>

                    <br>
            
                <a  class="text-white"
                    href="{{ url('category.index' , 
                    { categorySlug : gif.category.parent.slug}) }}">
                    {{ gif.category.parent.name | title }}
                </a>
            
    </aside>
    

    <div class="text-center col-sm-10"> 
        {# asset : permet de cibler le dossier public #}
        <img class="img-fluid" style="width : 50%" src="{{ asset("images/" ~ gif.source) }}" alt="un gif">
    </div>
</div>


{% endblock %}
