{% extends 'base.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block body %}
    <h1> Recherche : {{ search }}</h1>

    {% if categories|length <= 0 %}
        <p> Aucune categorie ne contient la recherche </p>


    {% else %}
        {% for catParentName, categoriesEnfant in categories %}
        
            <div class="row">
                <h3>{{ catParentName }}</h3>
            </div>

            {% for category in categoriesEnfant %}
                <div class="row border-top mt-2 border-left rounded-top">
                    <a class="text-light ml-4 mt-3 pb-2" 
                        href="{{ url('category.subCategory',{
                            categorySlug : category.parent.slug, 
                            subCategorySlug : category.slug}) 
                        }}"> {{ category.name | title }} </a>   
                </div>
                <div class="row mb-4 pl-5 border-left">
                    {# <div class="col-md-4"> #}
                    {% for gif in category.gifs %}
                        {# <div class="col-md-4"> #}
                            <a href="{{ url('gif.index', { gifSlug: gif.slug } ) }}">
                                {# asset : permet de cibler le dossier public #}
                                <img class="mx-2" src="{{ asset("images/" ~ gif.source) }}" alt="un gif">
                            </a>
                        {# </div> #}
                    {% endfor %}
                    {# </div> #}
                </div>
            {% endfor %}
        
        {% endfor %}
        
    {% endif %}
    



{% endblock %}
