{% extends "base.html.twig" %}

{% block body %}
    <h1 class="text-center">Formulaire</h1>

    {# 
        principales fonctions twig pour les formulaires
            form_start : création de <form>
            form_end : création de </form>
            form_label : intitulé d'un champs de formulaire
            form_widget : champs de formulaire
            form_help : aide sur un champs de formulaire
            form_error : erreur sur un champs de formulaire

            clé attr : permet d'ajouter un attrbut HTML à un champs de formulaire ou un intitulé

        variable form : envoyé par le controller
        nom des champs : définis dans la classe de formulaire (...Type)
     #}

    {# {{ form(form) }} #}

    {{ form_start( form, { attr : { novalidate : 'novalidate' } }) }}

        <p>
            {{ form_label(form.source, 'Image : ') }}
            {{ form_widget(form.source) }}
            {{ form_help(form.source, { help_attr : { style : 'color : #FFF !important' }} ) }}
        </p>
        <p>
            {{ form_label(form.category, 'Category : ') }}
            {{ form_widget(form.category) }}
        </p>
        <p>
            <input type="submit" class="btn btn-info">
        </p>

    {{ form_end(form) }}

{% endblock %}