{% extends "base.html.twig" %}

{% block body %}
    <h1 class="text-center">Profile {{ app.user.username | title }}</h1>
    {# 
        app : variable globale qui lui donne accès a certaines données de l'application
     #}


    {# 
    <div class="clo-sm-4" >
    {% for gif in app.user.gifs %}
        <a href="{{ url('gif.index', { gifSlug: gif.slug } ) }}">
            asset : permet de cibler le dossier public
            <img class="img-fluid" src="{{ asset("images/" ~ gif.source) }}" alt="un gif">
        </a>
    {% endfor %}
    </div> #}

    <p><a href="{{ url('profile.homepage.form') }}" class="btn btn-primary">Ajouter</a></p>
    <table class="table table-striped">
    <tr>
        <th>Images</th>
        <th>Categorie</th>
        <th>Sous-categorie</th>
        <th></th>
    </tr>
    {% for gif in gifs %}
        <tr>
            <td>
                <img class="img-fluid" src="{{ asset("images/" ~ gif.source) }}" alt="un gif">
            </td>
            <td>{{ gif.category.parent.name | title }}</td>
            <td>{{ gif.category.name | title }}</td>
            <td>
                <a href="#" class='btn btn-warning'>Modifier</a>
                <a href="#" class='btn btn-danger'>Suprimer</a>
            </td>
        </tr>
    {% endfor %}

    </table>

{% endblock %}