<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand text-white" href="#">GYPHY</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
            {# 
                lien : 
                    url : lien absolu
                    path : lien relatif
                cibler le nom des routes définis dans la propriété name de l'annotation @Route
             #}
        <a class="nav-link text-white" href="{{ url("homepage.index") }}">Accueil</a>
      </li>
      
      <li><div class="dropdown" style="margin-left:50px">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Category
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

            {% for category in get_categories() | filter(value => value.parent == null) %}
              {# 
                lien vers une route contenant une variable de route : url ou path
                  le second parametre permet de spécifier les variable de route

               #}
              <a class="dropdown-item" 
              href="{{ url('category.index', { categorySlug: category.slug } ) }}">
              {{ category.name | title }}</a>
            {% endfor %}

          </div>
        </div></li>
    </ul>
    
    <form class="form-inline my-2 my-lg-0" action="{{ url('search.index' ) }}" method="POST">
      <input name="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

      {#
        is_granted : permet de tester
          l'etat de connexion de l'utilisateur
          le rôle de l'utilisateur (ROLE_USER par défaut)
      #}

      {# {% if is_granted('IS_FULLY_AUTHENTICATED') %}{% endif %} #}
      

      {% if app.user %}
        <li class="nav-item">
          <a href="{{ url('profile.homepage.index') }}" class="nav-link text-white">Profil</a>
        </li>
        <li class="nav-item">
          <a href="{{ url('security.logout') }}" class="nav-link text-white">Déconnexion</a>
        </li>  
      {% else %}
        <li class="nav-item">
            <a href="{{ url('security.login') }}" class="nav-link text-white">Connexion</a>
        </li>
        <li class="nav-item">
            <a href="{{ url('registration.register') }}" class="nav-link text-white">Inscription</a>
        </li>
      {% endif %}
    </ul>
  
  </div>
</nav>